<a ng-click="isOpen = !isOpen" ng-hide="isOpen">Add a new product</a>
     
<form class="form-inline" ng-init="isOpen = false" ng-show="isOpen">
  <input type="text" ng-model="modelInput" class="form-control" placeholder="Model...">      
  <input type="text" ng-model="modelYear" class="form-control" placeholder="Year...">
  <input type="text" ng-model="modelPrice" class="form-control" placeholder="Price...">
  <input type="text" ng-model="modelProducer" class="form-control" placeholder="Producer...">
</form>
<br>
<button ng-click="addItem({model: modelInput, year: modelYear, price: modelPrice, producer: modelProducer})" ng-show="isOpen" class="btn btn-primary">Add</button>